__pycache__/
#hubert/__pycache__/
#crepe/__pycache__/
#whisper/__pycache__/
#vits/__pycache__/
*/__pycache__/
*/*/__pycache__/
whisper_pretrain/large-v2.pt
vits_pretrain/sovits5.0.pretrain.pth
hubert_pretrain/hubert-soft-0d54a1f4.pt
crepe/assets/full.pth
speaker_pretrain/best_model.pth.tar
data_svc/
chkpt/
dataset_raw*/
logs/
*.pth
venv/
pretrain/rmvpe.pt
singers/*/*
tmp/*
svc_out*
